.main {
  display: flex;
  justify-content: center;
}

.main-contact {
  width: 40%;
  margin: 3rem 0 3rem 0; 
  background: rgba(0,0,0,0.685);
  color: #fff;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid rgb(80, 80, 80);
  border-radius: 2%;
}

.main-contact > * {
  display: flex;
  justify-content: flex-start;
  margin-left: 2.5rem;
}

.phone,
.location {
  flex: 1 1;
  align-items: end;
  font-size: 1.4rem;
  word-spacing: -0.9rem;
  letter-spacing: 0.01rem;
}

.location {
  align-items: center;
}

.map {
  flex: 6 6;
  align-items: flex-start;
}

.map img {
  height: 90%;
  width: 90%;
  border-radius: 2%;
}
