.main {
  display: flex;
  justify-content: center;
}

.main-home {
  width: 40%;
  margin: 3rem 0 3rem 0; 
  background: rgba(0,0,0,0.685);
  color: #fff;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid rgb(80, 80, 80);
  border-radius: 2%;
}

.top-home {
  flex: 1.7 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-home > * {
  flex: 1 1;
  display: flex;
}

.top-caption {
  align-items: flex-end;
  font-size: 2rem;
  word-spacing: -1.2rem;
}

.bot-caption {
  align-items: center;
  font-size: 1.3rem;
  word-spacing: -0.7rem;
}

.mid-home {
  flex: 4.5 4.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-home img{
  width: 30%;
  border-radius: 5%;
}

.bot-home {
  flex: 1 1;
  font-size: 1.3rem;
  word-spacing: -0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

