:root {
  --text-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.685);
}

.header-top {
  flex: 2 2;
  color: var(--text-color);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  word-spacing: -2.2rem;
}

.header-bot {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bot > * {
  color: var(--text-color);
  font-size: 1.5rem;
  width: 5%;
  background: none;
  border: none;
}

.header-bot button:hover {
  background-color: rgb(133, 133, 247);
}