html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../img/hotdog.jpg');
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  border: 2px solid red;
  flex: 3 3;
}

.main {
  border: 2px solid blue;
  flex: 11 11;
}

.footer {
  border: 2px solid blue;
  flex: 0.5 0.5;
}