@import "./header.css";
@import "./footer.css";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../img/hotdog.jpg');
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1.5 1.5;
}

.main {
  flex: 11 11;
}

.footer {
  flex: 0.4 0.4;
}