@import "./header.css";
@import "./footer.css";
@import "./main/contact.css";
@import "./main/home.css";
@import "./main/menu.css";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../img/hotdog.jpg');
  background-size: cover;
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 4 4;
}

.main {
  flex: 11 11;
}

.footer {
  flex: 0.4 0.4;
}